.container{
    width: 600px;  
    height: 600px;  
    margin: auto;
    text-align: center;
}
.wrapper{
    width: 600px;
    height: 300px;  
    margin: auto;
    background-color: blue;
}
#header{
    background-color: lightblue;
    font-size: 70px;
    text-align: center;
    height: 120px;
    line-height: 120px;
    width: 600px;
    margin: auto;
}
#nav{
    width: 600px;  
    height: 30px;
    line-height: 30px;
    background-color: lightgray;
}
#right{
    background-color: burlywood;
    width: 300px;
    height: 300px;
    text-align: center;
    float: right;
}
#content{
    background-color: chartreuse;
    width:300px;
    height: 300px;
    float:left
}
#footer{
    background-color:lightgray;
    font-size: 50px;
    text-align: center;
    margin: auto;
    height: 60px;
    line-height: 60px;
    width: 600px;
}