body{
    margin:0;
    padding:0;
}
#header{
    background-color: lightblue;
    font-size: 70px;
    text-align: center;
    line-height: 120px;
    height: 120px;
}
#left{
    background-color: lightcoral;
    right:0;
    width: 10%;
    height: 700px;
    float:left;
    text-align: center;
}
#right{
    background-color: burlywood;
    bottom: 0;
    width: 10%;
    height: 700px;
    text-align: center;
    float: left;
}
#content{
    background-color: chartreuse;
    width: 80%;
    height: 700px;
    float:left
}
#footer{
    background-color:lightgray;
    font-size: 70px;
    text-align: center;
    line-height: 120px;
    height: 120px;
    width: 100%;
    display: inline-block;
}