body{
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    background-image: url(img/tlo.png);
    color: gray;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    height: 100vh;
}
.logo{
    margin-top: 50px;
    width: 125px;
    height: 50px;
    font-family: arial;
    font-size: 8px;
}
.gallery{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 50px;
    background-color: white;
    width: 500px;
    height: 500px;
}
.row{
    display: flex;
    justify-content: space-evenly;
}
img{
    padding-bottom: 5px;
    padding-right: 10px;
    border-style:2px, solid, grey;
}
.header{
    border-bottom:1px, solid, grey;
    height: 100px;
}
h2{
    font-family: arial;
}
.article{
    font-family: arial;
    font-size: 14px;
}
span{
    color: white;
    border-bottom: white dotted 1px;
}