body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
span{
    color: white;
}
#header-bar{
    height: 5px;
    background-color: #242e30;
    width: 100%;
}
#header{
    display: flex;
    justify-content: space-between;
    border-bottom: gray solid 1px;
    margin-top: 40px;
}
#logo{
    align-self: flex-end;
}
#nav{
    text-transform: uppercase;
}
#nav a, a:link, a:visited{
    text-decoration: none;
    color: #71ABC7;
}
#nav a:hover{
    color: #108ece;
}
#main{
    width: 1000px;
}
#column-top{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
}
#columnTopText{
    color: #71ABC7;
    font-size: 29px;
    font-family:Arial;
    text-align: center;
    padding-left: 120px;
    padding-right: 120px;
    margin-bottom: 50px;
}
#columns{
    display: flex;
    justify-content: space-between;
    color: rgb(36, 46, 48);
    border-bottom: gray solid 1px;
}
#column-left{
    width: 400px;
}
#column-right{
    width: 400px;
}
#circles{
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 20px;
}
#circle{
    height: 200px;
    width: 200px;
    background-color: #459eca;
    border-radius: 50%;
    opacity: 0.7;
    align-items: center;
    justify-content: center;
    display: flex;
}
#circle2{
    height: 200px;
    width: 200px;
    background-color: #459eca;
    border-radius: 50%;
    margin-left: -40px;
    opacity: 0.7;
    align-items: center;
    justify-content: center;
    display: flex;
}
#circle3{
    height: 200px;
    width: 200px;
    background-color: #459eca;
    border-radius: 50%;
    margin-left: -40px;
    opacity: 0.7;
    align-items: center;
    justify-content: center;
    display: flex;
}
#circle:hover{
    opacity: 0.85;
}
#circle2:hover{
    opacity: 0.85;
}
#circle3:hover{
    opacity: 0.85;
}
#bottomContainer{
    display: flex;
    color: rgb(36, 46, 48);
}
#topLeft{
    border-bottom: gray solid 1px;
}
#topMiddleLeft{
    border-bottom: gray solid 1px;
}
#topMiddleRight{
    border-bottom: gray solid 1px;
}
#topRight{
    border-bottom: gray solid 1px;
}
#first{
    display: flex;
    flex-direction: column;
    margin-right: 40px;
    flex-basis: 0;
    flex: 1 1 0px;
    flex-grow: 1;
}
#second{
    display: flex;
    flex-direction: column;
    margin-right: 40px;
    flex-basis: 0;
    flex: 1 1 0px;
    flex-grow: 1;
}
#third{
    display: flex;
    flex-direction: column;
    margin-right: 40px;
    flex-basis: 0;
    flex: 1 1 0px;
    flex-grow: 1;
}
#fourth{
    display: flex;
    flex-direction: column;
    flex-basis: 0;
    flex: 1 1 0px;
    flex-grow: 1;
}
#footer{
    background-color: #242e30;
    color: rgb(121, 121, 121);
    padding: 20px;
    height: 269px;
    width: 100%;
    margin-top: 40px;
    background-image: url(img/zabek.jpg);
    background-repeat: repeat-x;
    text-align: center;
}