body{
    background-color: #5b6775;
    height: 90vh;
    width: 90vw;
}
.cards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.card-happy{
    transform: scale(1.0) translate(-10%);
    transition: all 2s;
    background-color: #f6f7f8;
    height: 210px;
    width: 220px;
    margin-right: 20px;
    margin-top: 100px;
    text-align: center;
    box-shadow: 10px 5px 5px #333333;
}
.card-lovers{
    transform: scale(1.2) translate(-10%);
    transition: all 2s;
    background-color: #f6f7f8;
    height: 210px;
    width: 220px;
    margin-right: 20px;
    margin-top: 100px;
    text-align: center;
    box-shadow: 10px 5px 5px #333333;
}

.price{
    display: flex;
    background-color: #c1d5d4;
    height: 40px;
    align-items: center;
    justify-content: center;
    color: #5b6775;
    font-weight: 600;
}
.title{
    display: flex;
    align-items: center;
    justify-content: center;
}
button{
    display: flex;
    position:fixed;
    top: 480px;
    align-items: center;
    justify-content: center;
    background-color: #ad7076;
    color: white;
    height: 40px;
    width: 240px;
    border-radius: 50px;
    border:white solid 1px
}
.card-happy.active{
    transform: scale(1.2) translate(10%);
    right:30px;
    transition: all 2s;
}
.card-lovers.active{
    transform: scale(1.0) translate(0%);
    left:30px;
    transition: all 2s;
}
.happy-btn.active{
    display: none;
}
h2{
    border-bottom: #e9e9e9f5 solid 1px;
    color: #5b6775;
}
ul{
    list-style-type: square;
    text-align: left;
    color: #5b6775;
}
i{
    color: white;
}