@import url('https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
::selection {
    background: #b3d4fc;
    text-shadow: none;
}
body{
    margin: 0;
    font-family: 'Roboto Condensed';
    background-color: #f3f4f5;
    -webkit-font-smoothing: antialiased;
}
html, button, input, select, textarea, a {
    color: #656a6f;
}
.container{
display: grid;
grid-template-areas: 
    ". nav nav nav ."
    ". content content sidebar ."
    ". content content sidebar ."
    ". content content . ."
    ". content content . ."
    ". footer footer social .";
grid-template-columns: 20% 20% 20% 20% 20%;
grid-template-rows: 150px 9% 20%  28% auto;
gap: 0px 0px;
}
.nav{
grid-area: nav;
display: flex;
justify-content:space-between;
align-items: center;
border-bottom: 1px solid #cad2d7;
padding-top: 60px;
padding-bottom: 45px;
}
.content{
    grid-area: content;
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
}
.sidebar{
    display: flex;
    flex-direction: column;
    grid-area: sidebar;
    border-left: 1px solid #cad2d7;
    padding-left: 30px;
    margin-top: 50px;
}
.sidebar img{
    max-width: 75%;
}
.sidebar ul, .sidebar ol{
    margin-bottom: 12px;
}
.sidebar ul li{
    list-style-type: none;
    line-height: 20px;
    padding-top: 5px;
    padding-bottom: 8px;
    position: relative;
    padding-left: 22px;
}
.sidebar ul{
    flex-direction: column;
}
.Logo {
    max-width: 131px;
}
a img
{
    transition: all 250ms ease-in-out;
    opacity: 1;
    position: relative;
    width: 100%;
}
ul{
    display: flex;
    list-style: none;
}
ul a{
    margin-right: 10px;
}
.nav a{
    font-family: 'Roboto Condensed';
    font-size: 20px;
    padding: 0.3em 1.2em;    
    border-radius: 3px;
    transition: all 250ms ease-in-out;
}
 a{
    color: #2d3438;
    text-decoration: none;
}
.nav ul a:hover{
    background-color: #646d72;
    color: #fff;
}
.Menu {
    grid-area: menu;
    justify-items: right;
}

.content{
    grid-area: content;
}
h1{
    font-family: 'Roboto Condensed';
    font-weight: 900;
    font-size: 66px;
    color: #2d3438;
}
.lead{
    font-size: 24px;
    line-height: 32px;
    color: #2d3438
}

span{
    color:#ffc000;
}
.headerspan{
    font-size: 24px;
    margin-left: 5px;
}
p{
    word-wrap: break-word;
    color:#656a6f;
}
/* Headings */
h1, h2, h3, h4, h5, h6, ol > li:before {
    font-weight: normal;
    line-height: 100%;
    letter-spacing: -1px;
    margin: 25px 0 .5em;
}
h1, h2, h3, h4, h5, h6, span{
font-weight: bold;
}
h1::after, h2::after, h3::after{
    content: ".";
    font-family: Arial, Helvetica, sans-serif;
    font-size: 56px;
    position: relative;
    padding-left: 3px;
    color:#ffc000;
}
h1, h2, h3, h4{
    color: #2d3438;
}
h2{
    font-size: 36px;
    margin-top: 15px;
    color: #2d3438;
}
h3{
    font-size: 28px;
}
h4, h5 {
    font-size: 24px;
}
h5, h6{
    color:#ffc000;
    letter-spacing: 0px;
}
h6{
    font-size: 14px;
}
.wrap{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}
/**/
.postcontent img{
    width: 90%;
    margin-top: 50px;
    border: 6px solid #fff;
}
.postcontent a:hover{
        color: #ffc000;
}
.postcontent a{
    transition: all 250ms ease-in-out;
}
blockquote{
    width: 45%;
    float: right;
    font-size: 24px;
line-height: 32px;
color: #3c4a52;
}
.blockquoteimg{
    width: 100% !important;

}
/* Footer */
.Footer{
    grid-area: footer;
    border-top: 1px solid #cad2d7;
    font-size: 14px;
    color: #9fa6aa;
    padding: 50px 0 50px;
    padding-bottom: 4em;
}
.Footer img{
    width: 40px;
    vertical-align: middle;
}
.social{
    display: flex;
    justify-content: flex-end;
    grid-area: social;
    border-top: 1px solid #cad2d7;
    padding-top: 50px;
}
.social img{
    width: 31px;
    height: 31px;
}
