body{
    margin: 0;
    background-color: #f3f4f5;
}
.container{
display: grid;
grid-template-areas: 
    ". nav nav nav ."
    ". Image Image Image ."
    ". About-me What-i-do Get-in-touch ."
    ". footer footer footer .";
grid-template-columns: 20% 20% 20% 20% 20%;
grid-template-rows: 30% 30% auto 10%;
gap: 0px 0px;
}
.nav{
grid-area: nav;
display: flex;
justify-content:space-between;
background-color: #a4aeb0;
}
ul{
    display: flex;
    list-style: none;
}
.Logo {
    grid-area: logo;
}
.Menu {
    grid-area: menu;
    justify-items: right;
}
.Image {
grid-area: Image;
}
.About-me{
    display: flex;
    flex-direction: column;
    grid-area: About-me;
}
.What-i-do{
    display: flex;
    flex-direction: column;
    grid-area: What-i-do;
}
.Get-in-touch{
    display: flex;
    flex-direction: column;
    grid-area: Get-in-touch;
}
.Footer{
    grid-area: footer;
}