body{
    margin: 0;
    background-color: #444;
}
.sidebar{
    background-color: #48a770;;
    width: 20%;
    z-index: 100;
    text-align: center;
}
h2{
    font-size: 50px;
    font-weight: 400;
}
ul{
    display: block;
    padding: 0;
}
li{
    font-size: 40px;
    color: white;
    list-style: none;
    border-bottom: 1px black solid;
}
.frontparent{
    height: 100vh;
    width: 80%;
    perspective: 700px;

}
.front{
    background-color: #f3efe0;
    height: 100vh;
    transition: all 0.5s ease-in-out;
}
.page{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.transform{
    perspective: 150px;
    transform:rotateX(0deg) rotateY(-30deg) scale(0.6);
    transition: all 0.5s ease-in-out;
}
button{
    width: fit-content;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}